
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #23272d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}
.mascote {
  width: 14rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: top;
  
}

a {
  text-decoration: none;
  color: inherit;
}

.icones i {
  font-size: 1.5rem;
  color: white;
}

.icones i:hover {
  color: white;
}

.icones a:not(:last-child) {
  margin-right: 1rem;
}

.footer {

  margin-top: 3rem;
  margin-bottom: 0.5rem;
  
}

.footer i {
  font-size: 2rem;
  color: white;
}

ul {
  width: 80%;
  max-width: 40rem;
}

ul li {
  list-style: none;
}

ul.links li:not(:last-child) {
  margin-bottom: 0.3rem;
}

.links {
  margin-top: 0.5rem;
}

.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: black;
  margin-top: 1.5rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 8px 10px 0 #f3faff;
  border: 2px solid #3C4043;
  background-color: #1c2127;
}

.link-card:hover {
  transform: translateY(-3px);
  border: 2px solid white;
  animation: float 0.9s ease infinite alternate; 
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px); 
  }
}

.links .link-icon {
  padding: 0.5rem;
  border-radius: 10px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links .link-icon i {
  color: white;
}

.links .link-text {
  text-align: center;
}

.link-action {
  color: white;
  cursor: pointer;
  padding: 10px;
}
